* {
    padding-left: 15%;
    background-color: #0c0131;
    color: white;
    text-align: center;    
}
.header {
    background-color: rgb(20, 20, 79);
}
.code {
    background-color: rgb(20, 20, 79);
    font-weight: bold;
}